n8n-workflow-deploy-lp.json
{
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "deploy-lp-matcon",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "756da49a-9a0d-45c9-8122-d86cb25622ca",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [-464, 16],
      "webhookId": "deploy-lp-matcon"
    },
    {
      "parameters": {
        "jsCode": "const body = $('Webhook').first().json.body;\nconst slug = body.subdominio;\nconst html = body.html_base64;\nconst termos = body.termos_base64 || '';\nconst priv = body.privacidade_base64 || '';\n\nlet cmd = 'mkdir -p /data/lps';\ncmd += ' && printf \"%s\" \"' + html + '\" | base64 -d > /data/lps/' + slug + '.html';\n\nif (termos) {\n  cmd += ' && printf \"%s\" \"' + termos + '\" | base64 -d > /data/lps/' + slug + '-termos.html';\n}\nif (priv) {\n  cmd += ' && printf \"%s\" \"' + priv + '\" | base64 -d > /data/lps/' + slug + '-privacidade.html';\n}\n\ncmd += ' && echo ok';\n\nreturn [{ json: { command: cmd, slug } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-256, 16],
      "id": "72a7a56a-b219-4169-930b-21941d83b195",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "command": "={{ $json.command }}"
      },
      "id": "41057eac-e099-42e7-b50e-95f876b07924",
      "name": "SSH — Gravar LP",
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [16, -48],
      "credentials": {
        "sshPassword": {
          "id": "AZ8IOAWA4ZHSxPgr",
          "name": "SSH Password account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ ok: true, url: 'https://' + $('Webhook').item.json.body.subdominio + '.atendimentoweb.com', subdominio: $('Webhook').item.json.body.subdominio }) }}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "b80be0fa-785e-44f7-8509-1ede1400230f",
      "name": "Respond — OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [192, -48]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [[{ "node": "Code in JavaScript", "type": "main", "index": 0 }]]
    },
    "Code in JavaScript": {
      "main": [[{ "node": "SSH — Gravar LP", "type": "main", "index": 0 }]]
    },
    "SSH — Gravar LP": {
      "main": [[{ "node": "Respond — OK", "type": "main", "index": 0 }]]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "e1bc0642b13d975a7f303eed768c37cfe3c27e644bc41e8b737330a3a615f666"
  }
}
